@font-face {
    font-family: "haunted_moon";
    src: url(font/october-moon-font/OctoberMoon-deql.ttf);
  }
body{
    margin:0;
    padding:0;
    background-color: #F4D9E5;
}
#main{
    display:flex;
    flex-direction: column;
    align-items: center;
}
#container{
    display:grid;
    row-gap:20px;
    column-gap:20px;
    grid-template-columns:auto auto;
    text-align: center;  
    padding:20px;
}
#item{
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    text-align:center;
    background-color: #F0B8DF;
    border: 2px solid #EB99EB;
    border-radius:10px;
    margin:10px;
    width: 400px;

  }
h1{
    font-family: haunted_moon;
    text-shadow: 2px 4px 4px #F0B8DF;
    padding:10px;
    
}
/*
#menu_header{
    font-family: haunted_moon;
    font-size: 40px;
    background-color: #F0B8DF;
    border: 2px solid #EB99EB;
    text-shadow: 2px 4px 4px #EB99EB;
    padding:10px;
    padding-left: 40px;
    padding-right:40px;
    border-radius:10px;

}
*/

#leftside{
    max-width:60%;
    height:auto;
    display:flex;
    flex-direction:column;
}

#rightside{
    background-color: #EB99EB;
    border-radius:10px;
    padding:10px;
    margin-right: 20px;
    padding-top: 40px;
    padding-bottom: 40px;
}
